@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Noto+Serif:wght@400;500&family=Roboto+Slab&display=swap");
/* 
font-family: 'Mulish', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto Slab', serif; */

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /* background-color: #7f7d7d; */
    /* background-color: #d5d5decb; */
    /* background-color: #fffff0; */
    background-color: #FFFFFF;
    height: 551px;
}

.sidebar {
    background-color: #8AAAE5;
    /* position: absolute; */
    font-family: "Noto Serif", serif;
    width: 160px;
    height: 551px;
    transition: transform 0.2s ease-in;  
}

.sidebar nav {
    padding: 27px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 25px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: rgb(10, 9, 9);
    
}

.sidebar nav li a:hover{
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease;
    color: whitesmoke;
    text-shadow: 0px 0px 20px black;
}

.sidebarGo{
    transform: translate(-159px, 0px);
    position: absolute;
}
.main {
    /* background-color: #98f2bf; */
    width: 100vw;
    margin: 10px 10px 10px 20px;
}

.hamBurger{
    position: absolute;
    top: 3px;
    left: 1px;
    background: none;
    cursor: pointer;
}
.ham{
    margin-left: 5px;
    background-color: #8AAAE5;
    border-radius: 4px;
}
.cross{
    margin-left: 110px;
    margin-top: 5px;
    /* top: 5px; */
}

.blogContainer{
    margin-left: 20px;
    padding: 0 10px;
}
.blogContainer h1{
    font-family: 'Noto Serif', serif;
    padding: 10px 0;
    text-align: center;
    opacity: 0;
    animation: slideRight 1.2s linear forwards;
}

.blogItems h3{
    font-family: 'Noto Serif', serif;
    padding: 10px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.blogItems p{
    font-family: 'Mulish', sans-serif;
    padding: 0px 10px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}
.blogItems a{
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
    width: 80px;
    padding: 4px 2px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid rgb(8, 7, 7);
    background-color: #8AAAE5;
    color: rgb(244, 253, 253);
    margin: 8px 5px;
    box-shadow: 1px 1px 5px black;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.blogItems a:hover{
    color: #8AAAE5;
    background-color: white;
    box-shadow: 0px 0px 20px #8AAAE5;

}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
