@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Noto+Serif:wght@400;500&family=Roboto+Slab&display=swap");

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: #FBEAEB;
    height: auto;
}

/* SIDEBAR */
.sidebar {
    background-color: #4253aa;
    position: absolute;
    font-family: "Noto Serif", serif;
    width: 160px;
    height: auto;
    transition: transform 0.2s ease-in;
}

.sidebar nav {
    padding: 27px;
}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 25px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(10, 9, 9);

}

.sidebar nav li a:hover {
    cursor: pointer;
    font-size: 23px;
    transition: 0.3s ease;
    color: whitesmoke;
    text-shadow: 0px 0px 20px black;
}

.sidebarGo {
    transform: translate(-159px, 0px);
    position: absolute;
}
.hamBurger {
    position: absolute;
    top: 3px;
    left: 1px;
    background: none;
    cursor: pointer;
}

.ham {
    margin-left: 5px;
    background-color: #4253aa;
    border-radius: 4px;
}

.cross {
    margin-left: 115px;
    margin-top: 5px;
}

/* MAIN CONTENT */

.main {
    width: 100vw;
    margin: 20px 20px 10px 40px;
}

.projectsContainer {
    margin-left: 20px;
    padding: 0 10px;
}

.projectsContainer h1 {
    font-family: 'Noto Serif', serif;
    padding: 10px 0;
    text-align: center;
    opacity: 0;
    animation: slideRight 1.2s linear forwards;
}

.projectName h3 {
    font-family: 'Noto Serif', serif;
    padding-top: 1rem;
    color: #4253aa;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.projectName p {
    font-family: 'Mulish', sans-serif;
    padding: 0px 10px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

.projectName a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid purple;
    border-radius: 50%;
    font-size: 15px;
    color: purple;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 0.3rem;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.projectName a:hover {
    background-color: purple;
    color: white;
    box-shadow: 0px 0px 29px purple;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}




@media screen and (max-width: 549px) {
    .container {
        height: 2000px;
        width: 100vw;
    }
/* SIDEBAR */
    .sidebar {
        height: 2000px;
        width: 50%;
        z-index: 2;
    }

    .sidebar nav li {
        list-style: none;
        font-size: 26px;
        padding: 50px 10px;
        margin-top: 20px;
    }

    .sidebar nav li a {
        text-decoration: none;
        color: rgb(10, 9, 9);
        padding-top: 20px;
    }

    .sidebarGo {
        transform: translate(-260px, 0px);
        position: absolute;
    }

    .sec {
        z-index: 10;
    }

    .ham {
        width: 30px;
    }

    .cross {
        margin-left: 160px;
        width: 18px;
    }

    /* MAIN CONTENT */
    .projectsContainer h1 {
        font-size: 2.5rem;
    }

    .projectName p {
        padding-left: 2rem;
    }

    .projectName a {
        margin-left: 2rem;
    }
}

@media  screen and (min-width : 550px) and (max-width : 1000px){
    .container {
        height: 1600px;
        width: 1200px;
    }
    /* SIDEBAR */
    .sidebar { 
        height: 1600px;
        width: 250px; 
        z-index: 2;
    }
    .sidebar nav li {
        list-style: none;
        font-size: 30px;
        padding: 40px 10px;
        margin-top: 20px;
    }
    .sidebar nav li a{
        text-decoration: none;
        color: rgb(10, 9, 9);  
        padding-top: 20px;
    }
    .sidebarGo{
        transform: translate(-250px, 0px);
        position: absolute;
    }
    .sec{
        z-index: 10;
    }
    .ham{
        width: 40px;
    }
    .cross{
        margin-left: 170px;
        margin-top: 5px;
        width: 25px;
    }
    /* MAIN CONTENT */
    .main{
        margin-left: 20vw;
    }
    .projectsContainer h1 {
        font-size: 2.8rem;
    }
    .projectName h3{
        font-size: 1.4rem;
    }

    .projectName p {
        padding-left: 2rem;
        font-size: 1.2rem;
    }

    .projectName a {
        margin-left: 2rem;
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
    }
    
}

@media screen and (min-width: 1001px) {
    .container {
        height: 900px;
    }
    /* SIDEBAR */
    .sidebar {
        height: 900px; 
        width: 200px; 
        z-index: 2;
    }
    .sidebar nav li {
        list-style: none;
        font-size: 20px;
        padding: 20px 10px;
        margin-top: 20px;
    }
    .sidebar nav li a{
        text-decoration: none;
        color: rgb(10, 9, 9);  
        padding-top: 20px;
    }
    .sidebarGo{
        transform: translate(-200px, 0px);
        position: absolute;
    }
    .ham{
        width: 30px;
    }
    .cross{
        margin-left: 180px;
        margin-top: 5px;
        width: 15px;
    }
    .sec{
        z-index: 10;
    }
    /* MAIN CONTENT */
    .main{
        margin-left: 10vw;
    }
    .projectsContainer h1 {
        font-size: 1.8rem;
    }
}