@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Noto+Serif:wght@400;500&family=Roboto+Slab&display=swap");

/* 
font-family: 'Mulish', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto Slab', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    /* background-color: #7f7d7d; */
    /* background-color: #d5d5decb; */
    /* background-color: #fffff0; */
    background-color: #FCEDDA;
    height: 551px;
}

.sidebar {
    background-color: #EE4E34;
    position: absolute;
    font-family: "Noto Serif", serif;
    width: 160px;
    height: 551px;
    transition: transform 0.2s ease-in;  
   
}

.sidebar nav {
    padding: 27px;
}

.sidebar nav li a:hover{
    cursor: pointer;
    font-size: 24px;
    transition: 0.3s ease;
    color: whitesmoke;
    text-shadow: 0px 0px 20px black;
}

.sidebarGo{
    transform: translate(-159px, 0px);
    position: absolute;
}
.main {
    width: 100vw;
    padding: 0px 10px;
}

.hamBurger{
    position: absolute;
    top: 3px;
    left: 1px;
    background: none;
    cursor: pointer;
}
.ham{
    margin-left: 10px;
    background-color: #EE4E34;
    border-radius: 4px;
    width: 25px;
}
.cross{
    margin-left: 130px;
    width: 16px;
    margin-top: 5px;
    /* top: 5px; */
}

.info-container {
    display: flex;
    margin: auto;
    margin-top: 120px;
    padding-left: 8rem;
    justify-content: space-evenly;
}

.div-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Noto Serif", serif;
    width: 60%;
    padding-left: 3rem;
}

.hello {
    font-size: 50px;
    font-family: 'Mulish', sans-serif;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.name {
    font-size: 35px;
    font-weight: bold;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.2s;
}

.about {
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.more-about{
    margin: 15px 0 ;
    font-size: 15px;
    width: 480px;
}

.buttons{
    margin-top: 15px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.buttons button {
    padding: 8px 14px;
    border-radius: 12px;
    margin: 0 6px;
    font-size: 14px;
    font-weight: bold;
    background-color: #EE4E34;
    color: whitesmoke;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 2px 3px 5px black;
}

.buttons button:hover{
    color: #EE4E34;
    background-color: whitesmoke;
    box-shadow: 0 0 20px #EE4E34;
}

.logo a:nth-child(1){
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid #0A66C2;
    border-radius: 50%;
    font-size: 20px;
    color: #0A66C2;
    text-decoration: none;
    margin: 20px 10px 30px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo a:nth-child(1):hover{
    background:#0A66C2;
    color: whitesmoke;
    box-shadow: 0 0 20px #0A66C2;
}
.logo a:nth-child(2){
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid purple;
    border-radius: 50%;
    font-size: 20px;
    color: purple;
    text-decoration: none;
    margin: 20px 10px 30px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo a:nth-child(2):hover{
    background: purple;
    color: whitesmoke;
    box-shadow: 0 0 20px  purple;
}
.logo a:nth-child(3){
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid #25D366;
    border-radius: 50%;
    font-size: 20px;
    color: #25D366;
    text-decoration: none;
    margin: 20px 10px 30px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo a:nth-child(3):hover{
    background: #25D366;
    color: whitesmoke;
    box-shadow: 0 0 20px #25D366;
}
.logo a:nth-child(4){
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid rgb(36, 123, 209);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(36, 123, 209);
    text-decoration: none;
    margin: 20px 10px 30px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo a:nth-child(4):hover{
    background:dodgerblue;
    color: whitesmoke;
    box-shadow: 0 0 20px dodgerblue;
}

.div-img{
    height: 300px;
    width: 300px; 
    border: 2px solid rgba(49, 45, 3, 0.048);
    background-color: grey;
    box-shadow: 0px 0px 50px black;
    border-radius: 60%;
    background-image: url(image/dev.img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    margin-right: 50px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.2s;
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}







@media screen and (max-width: 549px){
    .container {
        height: 1600px ;
        width: fit-content;
    }
    .sidebar {
        height: 1600px; 
        width: 50%; 
        z-index: 2;
    }
    .sidebar nav li {
        list-style: none;
        font-size: 26px;
        padding: 50px 10px;
        margin-top: 20px;
    }
    .sidebar nav li a{
        text-decoration: none;
        color: rgb(10, 9, 9);  
        padding-top: 20px;
    }
    .sidebarGo{
        transform: translate(-260px, 0px);
        position: absolute;
    }
    .sec{
        z-index: 10;
    }
    .ham{
        width: 30px;
    }
    .cross{
        margin-left: 160px;
        width: 18px;
    }


    .info-container {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        padding-left: 1.5rem;
    }

    .div-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: fit-content;
    }
    .hello {
        font-size: 60px;
    }
    .name {
        font-size: 40px;
        font-weight: bold;
    }
    .about {
        font-size: 30px;
    }
    
    .more-about{
        margin: 15px 0 ;
        font-size: 20px;
        width: 300px;
    }
    .buttons{
        margin: 2rem 0;
    }
    
    .buttons button {
        padding: 10px 10px;
        border-radius: 15px;
        font-size: 15px;
    }
    .div-img{
        height: 300px;
        width: 300px; 
        margin-top: 5rem;
        margin-left: 0.7rem;
    }
    .logo a:nth-child(1n){
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
}

@media  screen and (min-width : 550px) and (max-width : 1000px){
    .container {
        height: 1600px ;
        width: fit-content;
    }

    .sidebar {
        height: 1600px; 
        width: 200px; 
    }
    .sidebar nav li {
        list-style: none;
        font-size: 25px;
        padding: 30px 10px;
        margin-top: 20px;
    }
    .sidebar nav li a{
        text-decoration: none;
        color: rgb(10, 9, 9);  
        padding-top: 20px;
    }
    .sidebarGo{
        transform: translate(-200px, 0px);
        position: absolute;
    }
    .ham{
        margin-left: 10px;
        background-color: #EE4E34;
        border-radius: 4px;
        width: 35px;
    }
    .cross{
        margin-left: 170px;
        margin-top: 5px;
        width: 20px;
    }
    
    .info-container {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        margin-left: 5rem;
    }

    .div-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.9rem;
        width: 100vw;
    }
    .hello {
        font-size: 80px;
    }
    .name {
        font-size: 60px;
        font-weight: bold;
    }
    .about {
        font-size: 40px;
    }
    
    .more-about{
        margin: 15px 0 ;
        font-size: 20px;
        width: 400px;
    }
    .buttons{
        margin: 2rem 0;
    }
    
    .buttons button {
        padding: 10px 15px;
        border-radius: 15px;
        font-size: 18px;
    }

    .div-img{
        height: 330px;
        width: 330px; 
        margin-top: 5rem;
        margin-left: 0.7rem;
    }
    .logo{
        margin-left: 1rem;
    }
    .logo a:nth-child(1n){
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    

}

@media screen and (min-width: 1001px) {
    .container {
        height: 100vh;
        width: fit-content;
    }
    .sidebar {
        height: 100vh; 
        width: 200px; 
    }
    .sidebar nav li {
        list-style: none;
        font-size: 22px;
        padding: 20px 10px;
        margin-top: 20px;
    }
    .sidebar nav li a{
        text-decoration: none;
        color: rgb(10, 9, 9);  
        padding-top: 20px;
    }
    .sidebarGo{
        transform: translate(-200px, 0px);
        position: absolute;
    }
    .ham{
        margin-left: 10px;
        background-color: #EE4E34;
        border-radius: 4px;
        width: 30px;
    }
    .cross{
        margin-left: 170px;
        margin-top: 5px;
        width: 15px;
    }
    .info-container {
        display: flex;
        margin-left: 2rem;
        margin-top: 45px;
    }
    .div-info{
        gap: 0.5rem;
    }
    .hello {
        font-size: 50px;
    }
    .name {
        font-size: 40px;
        font-weight: bold;
    }
    .about {
        font-size: 25px;
    }
    
    .more-about{
        margin: 15px 0 ;
        font-size: 14px;
        width: 400px;
    }
    
    .buttons button {
        padding: 8px 13px;
        border-radius: 15px;
        font-size: 14px;
    }

    .div-img{
        height: 330px;
        width: 330px; 
        margin-top: 5rem;
        margin-left: 0.7rem;
    }
    .logo a:nth-child(1n){
        width: 40px;
        height: 40px;
        font-size: 23px;
    }

}

